@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans_var.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NunitoSans", sans-serif;
} */

.react-syntax-highlighter-line-number {
  min-width: 2.25em !important;
}
