@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans_var.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NunitoSans", sans-serif;
} */
